// *, *::before,*::after {
//   outline: 1px solid red;
// }

// 第一區 banner
.banner {
  max-width: 100%;
  height: 840px;
  background: url("../images/banner.png") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  @include mobile {
    height: 394px;
  }
  p {
    text-align: right;
    font-size: 64px;
    font-weight: bold;
    color: $secondary;
    @include pad {
      font-size: $fs-8;
    }
    @include mobile {
      font-size: $fs-5;
    }
  }
  span {
    font-size: $fs-6;
    font-weight: normal;
    @include pad {
      font-size: $fs-2;
    }
    @include mobile {
      font-size: $fs-1;
    }
  }
}
// 第二區 專業 profession
.profession {
  background-color: $bg-secondary;
  padding: 60px 0;
  text-align: center;
  h2 {
    font-weight: bold;
    font-size: $fs-8;
    color: $primary;
    @include mobile {
      font-size: $fs-3;
    }
  }
  ul {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    h3 {
      margin: 16px 0;
      font-weight: bold;
      color: $secondary;
      font-size: $fs-3;
    }
    li {
      width: 25%;
      margin-bottom: 20px;
      padding-right: 30px;
      @include pad {
        width: 50%;
      }
      @include mobile {
        width: 100%;
      }
      &:last-child {
        padding: 0;
      }
    }
    p {
      text-align: left;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}
// 第三區 經典系列 classic
.classic {
  padding: 60px 0;
  h2 {
    font-weight: bold;
    font-size: $fs-8;
    color: $primary;
    margin-bottom: 40px;
    text-align: center;
  }
  .products-list {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      position: relative;
      &.icon-1 {
        &::after {
          @include pseudo-icon("auto_awesome\2004OPTICAL");
          @include mobile {
            display: block;
          }
        }
      }
      &.icon-2 {
        &::after {
          @include pseudo-icon("light_mode\2004SUNGLASSES");
          @include mobile {
            display: block;
          }
        }
      }
      &.icon-3 {
        &::after {
          @include pseudo-icon("flash_on\2004 FUNCTIONAL");
          @include mobile {
            display: block;
          }
        }
      }
    }
    .product {
      width: 635px;
      @include pad {
        width: 390px;
      }
    }
    span {
      font-size: $fs-8;
      color: $primary;
      margin-right: 10px;
      vertical-align: middle;
      @include pad {
        font-size: $fs-4;
      }
    }
    p {
      font-weight: bold;
      font-style: italic;
      font-size: $fs-8;
      margin: 0 30px;
      color: $primary;
      text-transform: uppercase;
      @include pad {
        font-size: $fs-4;
      }
      @include mobile {
        display: none;
      }
    }
  }
}
// 第四區 聯名設計 design
.design {
  background: url("../images/bg.png") center no-repeat;
  background-size: cover;
  padding: 60px 0;
  .design-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  h2 {
    text-align: center;
    font-size: $fs-8;
    color: $white;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .design-product-1 {
    width: 48%;
    position: relative;
    background-color: #fff;
    margin-right: 2%;
    @include pad {
      height: 278px;
    }
    @include mobile {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }
    p {
      position: relative;
      color: $secondary;
      font-size: 72px;
      font-weight: bold;
      text-align: center;
      line-height: 455px;
      @include pad {
        font-size: $fs-5;
        line-height: 278px;
      }
    }
    &::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: url("../images/product-8.png") center no-repeat;
      background-size: cover;
      opacity: 0.5;
    }
  }
  .design-product-2 {
    width: 50%;
    position: relative;
    background-color: #fff;
    @include pad {
      height: 278px;
    }
    @include mobile {
      width: 100%;
    }
    p {
      position: relative;
      color: $secondary;
      font-size: 72px;
      font-weight: bold;
      text-align: center;
      line-height: 455px;
      @include pad {
        font-size: $fs-5;
        line-height: 278px;
      }
    }
    &::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: url("../images/product-9.png") center no-repeat;
      background-size: cover;
      opacity: 0.5;
    }
  }
}
// 第五區 custom suggest
.custom-suggest {
  padding: 60px 0;
  h2 {
    text-align: center;
    font-size: $fs-8;
    color: $secondary;
    font-weight: bold;
    margin-bottom: 40px;
  }
  li {
    height: 460px;
    padding-right: 1%;
    width: 24%;
    margin-bottom: 32px;
    @include pad {
      width: 49%;
    }
    @include mobile {
      width: 100%;
    }
    &:last-child {
      padding: 0;
    }
  }
  .custom-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      border-radius: 4px;
      box-shadow: 0 4px 6px #00000029;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      transition: .5s;
      top: 0;
      &:hover {
        top: -2px;
      }
      h3 {
        margin-bottom: 16px;
        font-size: 14px;
      }
      .thumb {
        padding-top: 256px;
        border-radius: 4px 4px 0 0;
      }
      .thumb-1 {
        background: url("../images/rec-1.png") center no-repeat;
        background-size: cover;
      }
      .thumb-2 {
        background: url("../images/rec-2.png") center no-repeat;
        background-size: cover;
      }
      .thumb-3 {
        background: url("../images/rec-3.png") center no-repeat;
        background-size: cover;
      }
      .thumb-4 {
        background: url("../images/rec-4.png") center no-repeat;
        background-size: cover;
      }
      article {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
      }
      p {
        font-size: 16px;
      }
      span {
        font-size: 14px;
        color: #707070;
      }
    }
  }
}
// 第六區 contact
.contact {
  background-color: $bg-secondary;
  padding: 60px 0;
  .container {
    max-width: 760px;
    @include pad {
      max-width: 450px;
    }
  }
  h2 {
    font-size: $fs-8;
    text-align: center;
  }
  p {
    margin: 24px 0;
    font-size: $fs-2;
    @include pad {
      font-size: $fs-1;
    }
  }
  .form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    margin: 0 auto;
    .btn {
      display: flex;
      justify-content: center;
    }
    .button {
      padding: 1rem 9rem;
      background: $primary;
      display: inline-block;
      color: $white;
      margin: 0 auto;
      transition: .5s;
      @include pad{
        padding: 1rem 4.8rem;
      }
      &:hover {
        background: darken($primary, 10%);
      }
    }
  }
  .form-group {
    margin-bottom: 16px;
    label {
      display: inline-block;
      @include pad {
        font-size: 14px;
        display: inline;
      }
    }
    input, textarea {
      display: block;
      width: 100%;
      padding: 14px 1rem;
      font-size: $fs-1;
    }
    input[type="checkbox"] {
      width: inherit;
      display: inline;
      margin-bottom: 40px;
      @include pad {
        margin-bottom: 0;
        display: inline-block;
      }
    }
  }
}