@mixin container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
};
@mixin pad {
  @media (max-width: 768px) {
    @content
  }
};
@mixin mobile {
  @media (max-width: 767px) {
    @content
  }
};
@mixin pseudo-icon($content: '') {
  content: $content;
  font-family: 'Material Icons Outlined', 'roboto';
  font-style: italic;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  color: $primary;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 1;
  white-space: nowrap;
}