@mixin container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
};
@mixin pad {
  @media (max-width: 768px) {
    @content
  }
};
@mixin mobile {
  @media (max-width: 767px) {
    @content
  }
}