@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: "Roboto", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI",  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  display: block; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  @media (max-width: 768px) {
    .container {
      max-width: 690px; } }

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .row-reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.title {
  font-size: 3rem;
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .title {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 1.75rem;
      margin-bottom: 24px; } }

.m-0 {
  margin: 0; }

.header {
  background: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px; }
  .header a {
    text-align: center; }
  @media (max-width: 768px) {
    .header {
      padding: 30px 40px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 100%; } }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .header ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .header ul .nav-item {
      margin-left: 64px; }
      @media (max-width: 768px) {
        .header ul .nav-item {
          margin-left: 40px; } }
      @media (max-width: 767px) {
        .header ul .nav-item {
          width: 50%;
          margin: 0;
          border: 1px solid #fff;
          text-align: center; } }
    .header ul .nav-link {
      color: #fff;
      font-size: 1.25rem;
      padding: 10px;
      position: relative; }
      .header ul .nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        width: 0px;
        height: 3px;
        z-index: 5;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .header ul .nav-link:hover {
        color: #e6e6e6; }
        .header ul .nav-link:hover::after {
          width: 100%; }
  .header .logo {
    width: 80px;
    height: 49px; }
    @media (max-width: 767px) {
      .header .logo {
        -ms-flex-item-align: center;
            align-self: center;
        width: 48px;
        height: 29px;
        margin: 10px 0; } }

.footer {
  background: #AA0601;
  padding: 32px 0; }
  .footer .nav-link {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .footer .nav-link:hover {
      color: #000; }
      .footer .nav-link:hover img {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
  .footer .container {
    color: #fff; }
    .footer .container a {
      color: #fff; }
  .footer .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 24px; }
  .footer .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px; }
    .footer .nav-list li {
      margin-right: 24px; }
    .footer .nav-list .nav-link {
      padding: 12px 24px 12px 0; }
    @media (max-width: 767px) {
      .footer .nav-list {
        display: none; } }
  .footer .contact-list {
    font-size: 2.25rem; }
    .footer .contact-list .phone {
      margin-right: 20px;
      width: 36px;
      height: 36px; }
    .footer .contact-list .mail {
      margin-right: 20px;
      width: 40px;
      height: 32px; }
    @media (max-width: 767px) {
      .footer .contact-list {
        font-size: 1rem; }
        .footer .contact-list .phone {
          margin-right: 6.5px;
          width: 15px;
          height: 15px; }
        .footer .contact-list .mail {
          margin-right: 6.5px;
          width: 16px;
          height: 13px; } }
  .footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .social-list li {
      margin-right: 32px; }
      @media (max-width: 768px) {
        .footer .social-list li {
          margin-right: 24px; } }
    @media (max-width: 768px) {
      .footer .social-list img {
        width: 24px;
        height: 24px; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #fff;
    padding-top: 32px; }
    .footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .copyright li {
      margin-left: 24px; }
    .footer .copyright a {
      padding: 12px 0 12px 24px;
      font-size: 14px; }
    @media (max-width: 767px) {
      .footer .copyright p {
        width: 100%;
        font-size: 14px; }
      .footer .copyright ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .footer .copyright li {
        margin: 0; }
      .footer .copyright a {
        padding: 12px 24px 12px 0;
        font-size: 14px; } }

.banner {
  max-width: 100%;
  height: 840px;
  background: url("../images/banner.png") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .banner {
      height: 394px; } }
  .banner p {
    text-align: right;
    font-size: 64px;
    font-weight: bold;
    color: #650300; }
    @media (max-width: 768px) {
      .banner p {
        font-size: 3rem; } }
    @media (max-width: 767px) {
      .banner p {
        font-size: 2rem; } }
  .banner span {
    font-size: 2.25rem;
    font-weight: normal; }
    @media (max-width: 768px) {
      .banner span {
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      .banner span {
        font-size: 1rem; } }

.profession {
  background-color: #FBF2F2;
  padding: 60px 0;
  text-align: center; }
  .profession h2 {
    font-weight: bold;
    font-size: 3rem;
    color: #AA0601; }
    @media (max-width: 767px) {
      .profession h2 {
        font-size: 1.5rem; } }
  .profession ul {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .profession ul h3 {
      margin: 16px 0;
      font-weight: bold;
      color: #650300;
      font-size: 1.5rem; }
    .profession ul li {
      width: 25%;
      margin-bottom: 20px;
      padding-right: 30px; }
      @media (max-width: 768px) {
        .profession ul li {
          width: 50%; } }
      @media (max-width: 767px) {
        .profession ul li {
          width: 100%; } }
      .profession ul li:last-child {
        padding: 0; }
    .profession ul p {
      text-align: left; }
    .profession ul img {
      width: 100px;
      height: 100px; }

.classic {
  padding: 60px 0; }
  .classic h2 {
    font-weight: bold;
    font-size: 3rem;
    color: #AA0601;
    margin-bottom: 40px;
    text-align: center; }
  @media (max-width: 767px) {
    .classic .products-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .classic .products-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    position: relative; }
    .classic .products-list li.icon-1::after {
      content: "auto_awesome OPTICAL";
      font-family: 'Material Icons Outlined', 'roboto';
      font-style: italic;
      font-size: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      bottom: 0;
      color: #AA0601;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      display: none;
      z-index: 1;
      white-space: nowrap; }
      @media (max-width: 767px) {
        .classic .products-list li.icon-1::after {
          display: block; } }
    .classic .products-list li.icon-2::after {
      content: "light_mode SUNGLASSES";
      font-family: 'Material Icons Outlined', 'roboto';
      font-style: italic;
      font-size: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      bottom: 0;
      color: #AA0601;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      display: none;
      z-index: 1;
      white-space: nowrap; }
      @media (max-width: 767px) {
        .classic .products-list li.icon-2::after {
          display: block; } }
    .classic .products-list li.icon-3::after {
      content: "flash_on FUNCTIONAL";
      font-family: 'Material Icons Outlined', 'roboto';
      font-style: italic;
      font-size: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      bottom: 0;
      color: #AA0601;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      display: none;
      z-index: 1;
      white-space: nowrap; }
      @media (max-width: 767px) {
        .classic .products-list li.icon-3::after {
          display: block; } }
  .classic .products-list .product {
    width: 635px; }
    @media (max-width: 768px) {
      .classic .products-list .product {
        width: 390px; } }
  .classic .products-list span {
    font-size: 3rem;
    color: #AA0601;
    margin-right: 10px;
    vertical-align: middle; }
    @media (max-width: 768px) {
      .classic .products-list span {
        font-size: 1.75rem; } }
  .classic .products-list p {
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    margin: 0 30px;
    color: #AA0601;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .classic .products-list p {
        font-size: 1.75rem; } }
    @media (max-width: 767px) {
      .classic .products-list p {
        display: none; } }

.design {
  background: url("../images/bg.png") center no-repeat;
  background-size: cover;
  padding: 60px 0; }
  .design .design-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .design h2 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px; }
  .design .design-product-1 {
    width: 48%;
    position: relative;
    background-color: #fff;
    margin-right: 2%; }
    @media (max-width: 768px) {
      .design .design-product-1 {
        height: 278px; } }
    @media (max-width: 767px) {
      .design .design-product-1 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px; } }
    .design .design-product-1 p {
      position: relative;
      color: #650300;
      font-size: 72px;
      font-weight: bold;
      text-align: center;
      line-height: 455px; }
      @media (max-width: 768px) {
        .design .design-product-1 p {
          font-size: 2rem;
          line-height: 278px; } }
    .design .design-product-1::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: url("../images/product-8.png") center no-repeat;
      background-size: cover;
      opacity: 0.5; }
  .design .design-product-2 {
    width: 50%;
    position: relative;
    background-color: #fff; }
    @media (max-width: 768px) {
      .design .design-product-2 {
        height: 278px; } }
    @media (max-width: 767px) {
      .design .design-product-2 {
        width: 100%; } }
    .design .design-product-2 p {
      position: relative;
      color: #650300;
      font-size: 72px;
      font-weight: bold;
      text-align: center;
      line-height: 455px; }
      @media (max-width: 768px) {
        .design .design-product-2 p {
          font-size: 2rem;
          line-height: 278px; } }
    .design .design-product-2::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: url("../images/product-9.png") center no-repeat;
      background-size: cover;
      opacity: 0.5; }

.custom-suggest {
  padding: 60px 0; }
  .custom-suggest h2 {
    text-align: center;
    font-size: 3rem;
    color: #650300;
    font-weight: bold;
    margin-bottom: 40px; }
  .custom-suggest li {
    height: 460px;
    padding-right: 1%;
    width: 24%;
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .custom-suggest li {
        width: 49%; } }
    @media (max-width: 767px) {
      .custom-suggest li {
        width: 100%; } }
    .custom-suggest li:last-child {
      padding: 0; }
  .custom-suggest .custom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .custom-suggest .custom-list .card {
      border-radius: 4px;
      -webkit-box-shadow: 0 4px 6px #00000029;
              box-shadow: 0 4px 6px #00000029;
      min-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      top: 0; }
      .custom-suggest .custom-list .card:hover {
        top: -2px; }
      .custom-suggest .custom-list .card h3 {
        margin-bottom: 16px;
        font-size: 0.875rem; }
      .custom-suggest .custom-list .card .thumb {
        padding-top: 256px;
        border-radius: 4px 4px 0 0; }
      .custom-suggest .custom-list .card .thumb-1 {
        background: url("../images/rec-1.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card .thumb-2 {
        background: url("../images/rec-2.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card .thumb-3 {
        background: url("../images/rec-3.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card .thumb-4 {
        background: url("../images/rec-4.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card article {
        padding: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .custom-suggest .custom-list .card p {
        font-size: 16px; }
      .custom-suggest .custom-list .card span {
        font-size: 0.875rem;
        color: #707070; }

.contact {
  background-color: #FBF2F2;
  padding: 60px 0; }
  .contact .container {
    max-width: 760px; }
    @media (max-width: 768px) {
      .contact .container {
        max-width: 450px; } }
  .contact h2 {
    font-size: 3rem;
    text-align: center; }
  .contact p {
    margin: 24px 0;
    font-size: 1.25rem; }
    @media (max-width: 768px) {
      .contact p {
        font-size: 1rem; } }
  .contact .form {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 auto; }
    .contact .form .btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .contact .form .button {
      padding: 1rem 9rem;
      background: #AA0601;
      display: inline-block;
      color: #fff;
      margin: 0 auto;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      @media (max-width: 768px) {
        .contact .form .button {
          padding: 1rem 4.8rem; } }
      .contact .form .button:hover {
        background: #770401; }
  .contact .form-group {
    margin-bottom: 16px; }
    .contact .form-group label {
      display: inline-block; }
      @media (max-width: 768px) {
        .contact .form-group label {
          font-size: 0.875rem;
          display: inline; } }
    .contact .form-group input, .contact .form-group textarea {
      display: block;
      width: 100%;
      padding: 0.875rem 1rem;
      font-size: 1rem; }
    .contact .form-group input[type="checkbox"] {
      width: inherit;
      display: inline;
      margin-bottom: 40px; }
      @media (max-width: 768px) {
        .contact .form-group input[type="checkbox"] {
          margin-bottom: 0;
          display: inline-block; } }

.store {
  padding: 96px 0; }
  .store .card {
    width: 31%;
    margin-right: 2%;
    border: 1px solid #00000020;
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .store .card {
        width: 48%; } }
    @media (max-width: 767px) {
      .store .card {
        width: 100%;
        margin-right: 0; } }
  .store .card-title {
    font-size: 1.5rem;
    padding: 12px 24px;
    border-bottom: 1px solid #00000020; }
  .store .card-content {
    font-size: 1.25rem;
    padding: 16px 24px; }
    .store .card-content .icon {
      vertical-align: middle;
      margin-right: 12px; }
  .store .card-btn {
    text-align: center;
    display: block;
    padding: 20px 0;
    background: #000;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .store .card-btn:hover {
      background: #AA0601; }
  .store .store-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .store .form-group {
    margin-bottom: 32px; }
    .store .form-group label {
      font-size: 1.5rem;
      margin-right: 20px; }
    .store .form-group select {
      padding: 12px 20px;
      font-size: 18px;
      width: 33%; }

.qa {
  padding: 96px 0; }
  @media (max-width: 767px) {
    .qa {
      padding: 28px 0; } }
  .qa .subtitle {
    font-size: 2rem;
    margin-bottom: 36px; }
    @media (max-width: 767px) {
      .qa .subtitle {
        font-size: 1.25rem;
        margin-bottom: 24px; } }
  .qa .qa-list {
    margin-bottom: 64px; }
    .qa .qa-list .qa-title {
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 1.25rem; }
      @media (max-width: 767px) {
        .qa .qa-list .qa-title {
          font-size: 1rem; } }
    .qa .qa-list .qa-item {
      margin-bottom: 32px; }
    .qa .qa-list .qa-content {
      padding-left: 95px;
      max-width: 920px; }
      @media (max-width: 767px) {
        .qa .qa-list .qa-content {
          padding-left: 0;
          font-size: 0.875rem; } }

/*# sourceMappingURL=all.css.map */
