/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: "Roboto", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI",  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  display: block; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 768px) {
    .container {
      max-width: 690px; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px; } }

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .row-reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.m-0 {
  margin: 0; }

.header {
  background: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px; }
  @media (max-width: 768px) {
    .header {
      padding: 30px 40px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 100%; } }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .header ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .header ul .nav-item {
      margin-left: 64px; }
      @media (max-width: 768px) {
        .header ul .nav-item {
          margin-left: 40px; } }
      @media (max-width: 767px) {
        .header ul .nav-item {
          width: 50%;
          margin: 0;
          border: 1px solid #fff;
          text-align: center; } }
    .header ul .nav-link {
      color: #fff;
      font-size: 1.25rem;
      padding: 10px; }
  .header .logo {
    width: 80px;
    height: 49px; }
    @media (max-width: 767px) {
      .header .logo {
        -ms-flex-item-align: center;
            align-self: center;
        width: 48px;
        height: 29px;
        margin: 10px 0; } }

.footer {
  background: #AA0601;
  padding: 32px 0; }
  .footer .container {
    color: #fff; }
    .footer .container a {
      color: #fff; }
  .footer .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 24px; }
  .footer .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px; }
    .footer .nav-list li {
      margin-right: 24px; }
    .footer .nav-list a {
      padding: 12px 24px 12px 0; }
    @media (max-width: 767px) {
      .footer .nav-list {
        display: none; } }
  .footer .contact-list {
    font-size: 2.25rem; }
    .footer .contact-list .phone {
      margin-right: 20px;
      width: 36px;
      height: 36px; }
    .footer .contact-list .mail {
      margin-right: 20px;
      width: 40px;
      height: 32px; }
    @media (max-width: 767px) {
      .footer .contact-list {
        font-size: 1rem; }
        .footer .contact-list .phone {
          margin-right: 6.5px;
          width: 15px;
          height: 15px; }
        .footer .contact-list .mail {
          margin-right: 6.5px;
          width: 16px;
          height: 13px; } }
  .footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .social-list li {
      margin-right: 32px; }
    @media (max-width: 768px) {
      .footer .social-list img {
        width: 24px;
        height: 24px; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #fff;
    padding-top: 32px; }
    .footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .copyright li {
      margin-left: 24px; }
    .footer .copyright a {
      padding: 12px 0 12px 24px;
      font-size: 14px; }
    @media (max-width: 767px) {
      .footer .copyright p {
        width: 100%;
        font-size: 14px; }
      .footer .copyright ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .footer .copyright li {
        margin: 0; }
      .footer .copyright a {
        padding: 12px 24px 12px 0;
        font-size: 14px; } }

.banner {
  max-width: 100%;
  height: 840px;
  background: url("../images/banner.png") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner p {
    text-align: right;
    font-size: 64px;
    font-weight: bold;
    color: #650300; }
    @media (max-width: 768px) {
      .banner p {
        font-size: 3rem; } }
    @media (max-width: 767px) {
      .banner p {
        font-size: 2rem; } }
  .banner span {
    font-size: 2.25rem;
    font-weight: normal; }
    @media (max-width: 768px) {
      .banner span {
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      .banner span {
        font-size: 1rem; } }

.profession {
  background-color: #FBF2F2;
  padding: 60px 0;
  text-align: center; }
  .profession h2 {
    font-weight: bold;
    font-size: 3rem;
    color: #AA0601; }
    @media (max-width: 767px) {
      .profession h2 {
        font-size: 1.5rem; } }
  .profession ul {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .profession ul h3 {
      margin: 16px 0;
      font-weight: bold;
      color: #650300;
      font-size: 1.5rem; }
    .profession ul li {
      width: 25%;
      margin-bottom: 20px;
      padding-right: 30px; }
      @media (max-width: 768px) {
        .profession ul li {
          width: 50%; } }
      @media (max-width: 767px) {
        .profession ul li {
          width: 100%; } }
      .profession ul li:last-child {
        padding: 0; }
    .profession ul p {
      text-align: left; }
    .profession ul img {
      width: 100px;
      height: 100px; }

.classic {
  padding: 60px 0; }
  .classic h2 {
    font-weight: bold;
    font-size: 3rem;
    color: #AA0601;
    margin-bottom: 40px;
    text-align: center; }
  @media (max-width: 767px) {
    .classic .products-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .classic .products-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    position: relative; }
    .classic .products-list li.icon-1::after {
      font-family: 'Material Icons Outlined', 'roboto';
      content: "auto_awesome\2004OPTICAL";
      font-style: italic;
      font-size: 28px;
      position: absolute;
      top: 50%;
      left: 25%;
      right: 0;
      bottom: 0;
      color: #AA0601;
      -webkit-transform: translateX(6%) translateY(-25%);
          -ms-transform: translateX(6%) translateY(-25%);
              transform: translateX(6%) translateY(-25%);
      display: none;
      z-index: 1; }
      @media (max-width: 767px) {
        .classic .products-list li.icon-1::after {
          display: block; } }
    .classic .products-list li.icon-2::after {
      font-family: 'Material Icons Outlined', 'roboto';
      content: "light_mode\2004SUNGLASSES";
      font-style: italic;
      font-size: 28px;
      position: absolute;
      top: 50%;
      left: 25%;
      right: 0;
      bottom: 0;
      color: #AA0601;
      -webkit-transform: translateX(6%) translateY(-25%);
          -ms-transform: translateX(6%) translateY(-25%);
              transform: translateX(6%) translateY(-25%);
      display: none;
      z-index: 1; }
      @media (max-width: 767px) {
        .classic .products-list li.icon-2::after {
          display: block; } }
    .classic .products-list li.icon-3::after {
      font-family: 'Material Icons Outlined', 'roboto';
      content: "flash_on\2004 FUNCTIONAL";
      font-style: italic;
      font-size: 28px;
      position: absolute;
      top: 50%;
      left: 25%;
      right: 0;
      bottom: 0;
      color: #AA0601;
      -webkit-transform: translateX(6%) translateY(-25%);
          -ms-transform: translateX(6%) translateY(-25%);
              transform: translateX(6%) translateY(-25%);
      display: none;
      z-index: 1; }
      @media (max-width: 767px) {
        .classic .products-list li.icon-3::after {
          display: block; } }
  .classic .products-list .product {
    width: 635px; }
    @media (max-width: 768px) {
      .classic .products-list .product {
        width: 390px; } }
  .classic .products-list span {
    font-size: 3rem;
    color: #AA0601;
    margin-right: 10px;
    vertical-align: middle; }
    @media (max-width: 768px) {
      .classic .products-list span {
        font-size: 1.75rem; } }
  .classic .products-list p {
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    margin: 0 30px;
    color: #AA0601;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .classic .products-list p {
        font-size: 1.75rem; } }
    @media (max-width: 767px) {
      .classic .products-list p {
        display: none; } }

.design {
  background: url("../images/bg.png") center no-repeat;
  background-size: cover;
  padding: 60px 0; }
  .design .design-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .design h2 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px; }
  .design .design-product-1 {
    width: 48%;
    position: relative;
    background-color: #fff;
    margin-right: 2%; }
    @media (max-width: 768px) {
      .design .design-product-1 {
        height: 278px; } }
    @media (max-width: 767px) {
      .design .design-product-1 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px; } }
    .design .design-product-1 p {
      position: relative;
      color: #650300;
      font-size: 72px;
      font-weight: bold;
      text-align: center;
      line-height: 455px; }
      @media (max-width: 768px) {
        .design .design-product-1 p {
          font-size: 2rem;
          line-height: 278px; } }
    .design .design-product-1::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: url("../images/product-8.png") center no-repeat;
      background-size: cover;
      opacity: 0.5; }
  .design .design-product-2 {
    width: 50%;
    position: relative;
    background-color: #fff; }
    @media (max-width: 768px) {
      .design .design-product-2 {
        height: 278px; } }
    @media (max-width: 767px) {
      .design .design-product-2 {
        width: 100%; } }
    .design .design-product-2 p {
      position: relative;
      color: #650300;
      font-size: 72px;
      font-weight: bold;
      text-align: center;
      line-height: 455px; }
      @media (max-width: 768px) {
        .design .design-product-2 p {
          font-size: 2rem;
          line-height: 278px; } }
    .design .design-product-2::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: url("../images/product-9.png") center no-repeat;
      background-size: cover;
      opacity: 0.5; }

.custom-suggest {
  padding: 60px 0; }
  .custom-suggest h2 {
    text-align: center;
    font-size: 3rem;
    color: #650300;
    font-weight: bold;
    margin-bottom: 40px; }
  .custom-suggest li {
    height: 460px;
    padding-right: 1%;
    width: 24%;
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .custom-suggest li {
        width: 49%; } }
    @media (max-width: 767px) {
      .custom-suggest li {
        width: 100%; } }
    .custom-suggest li:last-child {
      padding: 0; }
  .custom-suggest .custom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .custom-suggest .custom-list .card {
      border-radius: 4px;
      -webkit-box-shadow: 0 4px 6px #00000029;
              box-shadow: 0 4px 6px #00000029;
      min-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .custom-suggest .custom-list .card h3 {
        margin-bottom: 16px;
        font-size: 14px; }
      .custom-suggest .custom-list .card .thumb {
        padding-top: 256px;
        border-radius: 4px 4px 0 0; }
      .custom-suggest .custom-list .card .thumb-1 {
        background: url("../images/rec-1.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card .thumb-2 {
        background: url("../images/rec-2.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card .thumb-3 {
        background: url("../images/rec-3.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card .thumb-4 {
        background: url("../images/rec-4.png") center no-repeat;
        background-size: cover; }
      .custom-suggest .custom-list .card article {
        padding: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .custom-suggest .custom-list .card p {
        font-size: 16px; }
      .custom-suggest .custom-list .card span {
        font-size: 14px;
        color: #707070; }

/*# sourceMappingURL=all.css.map */
